# Copy to .env.deploy.local and fill in real values. .env.deploy.local is git-ignored.
export AWS_ACCOUNT_ID=""
export SITE_BUCKET=""
export SITE_DIST_ID=""
export SITE_DIST_DOMAIN=""
export ASSETS_BUCKET=""
export ASSETS_DIST_ID=""
export ASSETS_DIST_DOMAIN=""
export OAC_ID=""
export HOSTED_ZONE_ID=""
export CERT_ID=""
