@import "tailwindcss";

@layer components{
    .hero-button {
        @apply px-6 py-2 border border-[#242424] rounded-full uppercase text-sm tracking-widest text-gray-500 transition-all hover:border-[#df5e22]/40 hover:text-[#ffffff]/40
    }
}